body {
  margin: 0;
  padding: 0;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 12px;
  background-color: #e6e6e6;
}

div.header {
  background: url("header_bg.gif") repeat-x scroll 0 -3px transparent;
  border-top-width: 3px;
  border-top-color: #dc0200;
  border-top-style: solid;
  height: 55px;
  color: white;
}

div.margin {
  float: left;
  width: 65px;
  clear: both;
  text-align: right;
  font-size: 10px;
  margin-top: 1px;
  color: #675ac0;
  margin-right: 5px;
}

div.message div.content, div.text div.content {
  color: #b5511b;
  font-size: 11px;
}

div.message div.margin, div.text div.margin {
  color: #b5511b;
}

div.subdue div.content {
  color: #aaa;
  font-size: 11px;
}

div.subdue div.margin {
  color: #aaa;
}

div.content {
  overflow-x: auto;
  margin-right: 5px;
}

div.exception {
  margin: 1em;
  border: 1px solid #888;
  background-color: white;
  padding: 1em;
  color: #a00;
  white-space: pre;
  overflow-x: auto;
}

div.cellgroup {
  margin: 1em;
  border: 1px solid #888;
  background-color: white;
  padding: 0.5em 0.5em 0.5em 0;
}

div.cell {
  margin: 0.5em 0.5em 0.5em 0;
  border-right: 1px solid #888;
  padding: 2px;
  -webkit-border-top-right-radius: 2px; 
  -webkit-border-bottom-right-radius: 2px; 
}

div.header div.text {
  margin: 0.5em;
  font-size: 22px;
  font-weight: bold;
}

div.header div.text span.purple {
  color: #a23f88;
}

div.header div.text span.white {
  font-style: italic;
}

#status_bar {
  margin: 1em;
  border: 1px solid #888;
  background-color: white;
  padding: 0.5em;
  text-align: right;
  color: #555;
}

#status_bar span.value {
  font-weight: bold;
  cursor: pointer;
}

#status_bar div.toggles div.field_label {
  float: right;
  margin-left: 1em;
}

div.time {
  text-align: right;
  font-size: 0.7em;
  color: #aaa;
}