<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Mathematica</string>
	<key>uuid</key>
	<string>D2B42D16-FDEB-4079-9293-725312736384</string>
</dict>
</plist>
